<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href=""> <img src="../static/assets/phone frame.png" alt="logo"> <span>Pricing Hub</span></a>
            <ul>
                <div class="primary-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">About Us</a></li>
                </div>
                    <div>
                        {% if user.is_authenticated %}
                        <li><a href="/logout">Logout</a></li>
                    </div>
                    <div>
                        {% else %}
                        <li><a href="/login">LogIn</a></li>
                        <li class="signup"><a href="/signup">Sign-up</a></li>
                    </div>
                    {% endif %}
            </ul>
        </nav>
        <div class="search">
            <input type="text" placeholder="Hi, what are you looking for?">
        </div>
        <section class="slidersection">
            <!-- <img src="../static/assets/slider2.png" alt=""> -->

            <div class="slideshow-container">
                <div class="mySlides fade">
                  <img src="../static/assets/3.jpg" style="width:100%; height: 200px;">
                </div>
                <div class="mySlides fade">
                  <img src="../static/assets/2.jpg" style="width:100%;  height: 200px;">
                </div>
                <div class="mySlides fade">
                  <img src="../static/assets/1.jpg" style="width:100%;  height: 200px;">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
              <br>
              <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>

        </section>
    </header>
    <main>
        <section class="categories">

            <div class="heading__categories">Categories</div>

            <div class="gadget__categories">
                <span><img src="../staticassets/phone frame.png" alt="">
                    <p>Iphones</p>
                </span>
                <span><img src="../static/assets/phone frame.png" alt="">
                    <p>Androids</p>
                </span>
                <span><img src="../static/assets/phone frame.png" alt="">
                    <p>Laptops</p>
                </span>
                <span><img src="../static/assets/phone frame.png" alt="">
                    <p>Tablets</p>
                </span>
                <span><img src="../static/assets/phone frame.png" alt="">
                    <p>Accessories</p>
                </span>
            </div>
        </section>
        <section class="new-product-release categories">

            <div class="heading__categories">New Product release</div>
            <div class="new-product-release__product">
                <div class="new-products">
                    <div class="menu-with-img">
                        <img class="product-menu" src="../static/assets/more button.png" alt="more">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="platform-and-price">
                        <span class="platform">Amazon</span>
                        <span class="price">$364</span>
                    </div>
                    <div class="product-name">Apple iPhone 11, 64GB,
                        Black - Unlocked...
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                        <span class="comment-number">20,710</span>
                    </div>
                    <div class="comments">
                        <span>20,710</span>
                        <img src="../static/assets/comment symbol.png" alt="">
                        <span>Comments</span>
                    </div>
                    <button class="view-in-category">View in Category</button>
                </div>


                <div class="new-products">
                    <div class="menu-with-img">
                        <img class="product-menu" src="../static/assets/more button.png" alt="more">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="platform-and-price">
                        <span class="platform">Amazon</span>
                        <span class="price">$364</span>
                    </div>
                    <div class="product-name">Apple iPhone 11, 64GB,
                        Black - Unlocked...
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                        <span class="comment-number">20,710</span>
                    </div>
                    <div class="comments">
                        <span>20,710</span>
                        <img src="../static/assets/comment symbol.png" alt="">
                        <span>Comments</span>
                    </div>
                    <button class="view-in-category">View in Category</button>

                </div>





                <div class="new-products">
                    <div class="menu-with-img">
                        <img class="product-menu" src="../static/assets/more button.png" alt="more">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="platform-and-price">
                        <span class="platform">Amazon</span>
                        <span class="price">$364</span>
                    </div>
                    <div class="product-name">Apple iPhone 11, 64GB,
                        Black - Unlocked...
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assetsstar.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                        <span class="comment-number">20,710</span>
                    </div>
                    <div class="comments">
                        <span>20,710</span>
                        <img src="../static/assets/comment symbol.png" alt="">
                        <span>Comments</span>
                    </div>
                    <button class="view-in-category">View in Category</button>
                </div>


                <div class="showmore">
                    Show More &#10095;
                </div>




            </div>
        </section>



        <section class="tips categories ">
            <div class="tips-img">
                <img src="../static/assets/tip to buy prod.png" alt="">
            </div>
            <div class="tips-text">
                <h3>Tips To Buy A Good Product Online</h3>
                <p>Finding the right product that meets your needs can be stressful, here are a few tips to keep you
                    away from the loop of bad purchase</p>
                <ul>
                    <li class="tips-to-buy">Meet your needs....</li>
                    <li class="tips-to-buy">Non-brand or Brandable. ... </li>
                    <li class="tips-to-buy">Check warranty. ...</li>
                    <li class="tips-to-buy">Ease of Use. ...</li>
                    <li class="tips-to-buy">Durability. ...</li>
                    <li class="tips-to-buy">Settle on a Budget. ...</li>
                    <li class="tips-to-buy">Read the right product reviews.</li>
                </ul>
            </div>
        </section>



        <section class="new-product-release categories">

            <div class="heading__categories">Popular Products</div>
            <div class="new-product-release__product">
                <div class="new-products">
                    <div class="menu-with-img">
                        <img class="product-menu" src="../static/assets/more button.png" alt="more">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="platform-and-price">
                        <span class="platform">Amazon</span>
                        <span class="price">$364</span>
                    </div>
                    <div class="product-name">Apple iPhone 11, 64GB,
                        Black - Unlocked...
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                        <span class="comment-number">20,710</span>
                    </div>
                    <div class="comments">
                        <span>20,710</span>
                        <img src="../static/assets/comment symbol.png" alt="">
                        <span>Comments</span>
                    </div>
                    <button class="view-in-category">View in Category</button>
                </div>


                <div class="new-products">
                    <div class="menu-with-img">
                        <img class="product-menu" src="../static/assets/more button.png" alt="more">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="platform-and-price">
                        <span class="platform">Amazon</span>
                        <span class="price">$364</span>
                    </div>
                    <div class="product-name">Apple iPhone 11, 64GB,
                        Black - Unlocked...
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                        <span class="comment-number">20,710</span>
                    </div>
                    <div class="comments">
                        <span>20,710</span>
                        <img src="../static/assets/comment symbol.png" alt="">
                        <span>Comments</span>
                    </div>
                    <button class="view-in-category">View in Category</button>

                </div>





                <div class="new-products">
                    <div class="menu-with-img">
                        <img class="product-menu" src="../static/assets/more button.png" alt="more">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="platform-and-price">
                        <span class="platform">Amazon</span>
                        <span class="price">$364</span>
                    </div>
                    <div class="product-name">Apple iPhone 11, 64GB,
                        Black - Unlocked...
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                        <span class="comment-number">20,710</span>
                    </div>
                    <div class="comments">
                        <span>20,710</span>
                        <img src="../static/assets/comment symbol.png" alt="">
                        <span>Comments</span>
                    </div>
                    <button class="view-in-category">View in Category</button>
                </div>


                <div class="showmore">
                    Show More &#10095;
                </div>
            </div>
        </section>


        <section class="tips categories ">
            <div class="tips-img">
                <img src="../static/assets/tip to buy prod.png" alt="">
            </div>
            <div class="meet-the-teem-text tips-text">
                <h3>Meet The Team</h3>
                <p>
                    The ...................... team comprises of indiviuals who are committed to providing viable
                    solutions to the problems faced by indiduals who find it difficult getting the right pricings to
                    items sold online.
                </p>
                <button class="about-us-btn">About Us</button>
            </div>
        </section>

        <section class="new-product-release categories">

            <div class="heading__categories">What Our Users Say</div>
            <div class="testimonial">
                <div class="new-products">
                    <div class="menu-with-img">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                    </div>
                    <div class="comments-testimonial">
                        <p class="testimonial-comment">Ever since I discovered this website, shopping online has been
                            easier.</p>
                    </div>
                </div>

                <div class="new-products">
                    <div class="menu-with-img">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                    </div>
                    <div class="comments-testimonial">
                        <p class="testimonial-comment">Ever since I discovered this website, shopping online has been
                            easier.</p>
                    </div>
                </div>

                <div class="new-products">
                    <div class="menu-with-img">
                        <img src="../static/assets/new product release.png" alt="">
                    </div>
                    <div class="ratings">
                        <span class="star-rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                            <img src="../static/assets/star.png" alt="rating">
                        </span>
                    </div>
                    <div class="comments-testimonial">
                        <p class="testimonial-comment">Ever since I discovered this website, shopping online has been
                            easier.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="newsletter categories">

            <div class="tips-img">
                <img src="../static/assets/new product release.png" alt="">
            </div>
            <div class=" tips-text">
                <h3>Get smart shopping tips by signing up to our newsletter!</h3>
                <div>
                    <input class="newsletter-email" type="email" placeholder="Your Email Address"><br>
                    <button class="subscribe">Subscribe</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="top-footer">
            <div class="brandname">
                <p>Brand-name</p>
            </div>
            <div class="information">
                <h3>Information</h3>
                <ul>
                    <li>Services</li>
                    <li>Works</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="connect">
                <h3>Connect with us</h3>
                <ul>
                    <li>LinkedIn</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="contact-us">
                <button>Contact Us</button>
            </div>
        </div>
        <div class="top-footer">
            <div>
                <span>2022 </span>
                <span>Brand-name</span>
                <span>All Rights Reserved</span>
            </div>

            <div>
                <a href="{% url 'privacy'%}">Privacy Policy</a>
                <a href="{% url 'terms'%}">Terms & Conditions</a>
            </div>
        </div>
    </footer>







    <script src="../static/js/index.js"></script>
</body>

</html>