<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="headerfooter.css">
</head>
<body>
    

        <!-- Header file -->
<div class="head">
    <div class="top-header">
        <a class="logo" href=""> <img src="images/logo.png" alt="logo"></a>
        <nav id="main-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">LogIn</a></li>
                <li class="signup"><a href="#">Sign-up</a></li>
            </ul>
        </nav>
    </div>

    <input type="checkbox" id="hamburger-input" class="burger-shower" />

    <label id="hamburger-menu" for="hamburger-input">
        <nav id="sidebar-menu">
            <h3>Menu</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">LogIn</a></li>
                <li class="signup"><a href="#">Sign-up</a></li>
            </ul>
        </nav>
    </label>
    <div class="overlay"></div>
</div>
<!-- header ends -->



<!-- footer section -->


<footer>
    <div class="top-footer">
        <div class="secondary-footer">

            <div class="brandlogo">
                <img src="images/Pricehub-05 1.png" alt="pricing hub logo">
            </div>

            <div class="information">
                <h3>Menu</h3>
                <ul>
                    <li>Services</li>
                    <li>Review</li>
                    <li>About</li>
                    <li>Support</li>
                </ul>
            </div>

            <div class="connect">
                <h3>Connect</h3>
                <ul>
                    <li>LinkedIn</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
        <div class="">
            <div class="contact-us">
                <button>Contact Us</button>
            </div>
        </div>

    </div>

    <div class="primary-footer">
        <div>
            <span>2022 </span>
            <span>Pricing Hub</span>
            <span>All Rights Reserved</span>
        </div>

        <div>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
        </div>
    </div>

</footer>


    <script src="headerfooter.js"></script>
</body>
</html>