<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/terms.css"></link>
    <title>Terms and Conditions</title>
</head>

<body>
    <header>
        <div class="head">
            <div class="top-header">
            <a class="logo" href="{% url 'homepage'%}"> <img src="../static/images/logo.png" alt="logo"></a>
            <nav id="main-menu">
                <ul>
                    <li><a href="{% url 'homepage'%}">Home</a></li>
                    <li><a href="{% url 'category'%}">Categories</a></li>
                    <li><a href="#">Contact Us</a></li>
                    {% if user.is_authenticated %}              
                    <li><a href="{% url 'logout'%}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}">LogIn</a></li>
                    <li class="register"><a href="{% url 'register'%}">Sign-up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

            <input type="checkbox" id="hamburger-input" class="burger-shower" />

            <label id="hamburger-menu" for="hamburger-input">
                <nav id="sidebar-menu">
                    <h3>Menu</h3>
                    <ul>
                        <li><a href="{% url 'homepage'%}">Home</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="{% url 'login'%}">LogIn</a></li>
                        <li class="register"><a href="{% url 'register'%}">Sign-up</a></li>
                    </ul>
                </nav>
            </label>
            <div class="overlay"></div>
        </div>
        <div class="termsandconditions" style="padding: 20px;">
            <h1>Terms and Conditions</h1> <br>

            <p>
                Please read this Terms of Use Agreement (the "Agreement") carefully. The Agreement governs your use of the PricingHub Website 
                and the services and goods provided through or in connection with the Website (collectively, the "Service"). Each time you use 
                the Service, you acknowledge that you have read and agree to be bound by the Agreement. If you do not agree to bound by the Agreement,
                you may not use the Service.
            </p> <br>

            <h2>
                IMPORTANT. The Website acts as an online marketplace for you to compare different prices of
                gadgets. Any information you provide to source sites in connection with your purchase remains with
                the chosen source market/size.
            </h2> <br>

            <ol type="1">
                <li>PricingHub is not responsible or liable for any products, services, information or other materials
                    dispayed, purchased, or obtained by you from the Website, including without limitations & 
                    recommendations.
                </li>

                <li>PricingHub does not endorse, warrant or guarantee the products or services of any seller, including
                    without limitations, any rates or prices.
                </li>

                <li>PricingHub is not liable for any delays, inaccuracies, errors or omissions with respect to the information
                    or the transmission or delivery of all or any part thereof, for any damage arising therefrom or
                    occasioned thereby, or for the results obtained from the use of the information.
                </li>

                <li>Any information on the Website can change without notice.</li>
            </ol>
            
            <br> <br>

            <h3>DISCLAIMER: PricingHub tries to provide quality information, but PricingHub makes no claims, promises or
                guarantees about the accuracy, completeness, or adequacy of the information conatined in or linked to
                this website and its associated sites.
            </h3>

        </div>
        

    <footer>
        <div class="top-footer">
            <div class="secondary-footer">
    
                <div class="brandlogo">
                    <img src="../static/images/Pricehub-05 1.png" alt="pricing hub logo">
                </div>
    
                <div class="information">
                    <h3>Menu</h3>
                    <ul>
                        <li>Services</li>
                        <li>Review</li>
                        <li>About</li>
                        <li>Support</li>
                    </ul>
                </div>
    
                <div class="connect">
                    <h3>Connect</h3>
                    <ul>
                        <li>LinkedIn</li>
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>Instagram</li>
                    </ul>
                </div>
            </div>
            <div class="">
                <div class="contact-us">
                    <button>Get Started</button>
                </div>
            </div>
    
        </div>
    
        <div class="primary-footer">
            <div>
                <span>2022</span>
                <span>Pricing Hub</span>
                <span>All Rights Reserved</span>
            </div>
    
            <div>
                <a href="{% url 'privacy' %}">Privacy Policy</a>
                <a href="{% url 'terms'%}">Terms & Conditions</a>
                <a href="{% url 'help'%}">Help</a>
            </div>
        </div>
    
    </footer>
    
    </body>
    </html>
   
    
    
    
    
   