<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>privacy policy</title>
    <link rel="stylesheet" href="../static/css/privacystyle.css" />
  </head>
  <body>
    <header>
      <div class="head">
        <div class="top-header">
          <a class="logo" href="{% url 'homepage'%}">
            <img src="../static/images/logo.png" alt="logo"
          /></a>
          <nav id="main-menu">
            <ul>
              <li><a href="{% url 'homepage'%}">Home</a></li>
              <li><a href="{% url 'category'%}">Categories</a></li>
              <li><a href="{% url 'contact'%}">Contact Us</a></li>
              <li><a href="{% url 'login'%}">LogIn</a></li>
              <li class="register"><a href="{% url 'register'%}">Sign-up</a></li>
            </ul>
          </nav>
        </div>

        <input type="checkbox" id="hamburger-input" class="burger-shower" />

        <label id="hamburger-menu" for="hamburger-input">
          <nav id="sidebar-menu">
            <h3>Menu</h3>
            <ul>
              <li><a href="{% url 'homepage'%}">Home</a></li>
              <li><a href="{% url 'category'%}">Categories</a></li>
              <li><a href="{% url 'contact'%}">Contact Us</a></li>
              <li><a href="{% url 'login'%}">LogIn</a></li>
              <li class="register"><a href="{% url 'register'%}">Sign-up</a></li>
            </ul>
          </nav>
        </label>
        <div class="overlay"></div>
      </div>
    </header>

    <main>
      <h2 class="privacy">PRIVACY POLICY</h2>
      <p>
        PricingHub's Privacy Policy is designed to help you understand how to
        collect and use the personal information you decide to share,and help
        you make informed decisions when using <bold> PricingHub.com.</bold> By
        using or accessing PricingHub,you are accepting the practices decsribed
        in this Privacy Policy.If you have questions regarding this
        statement,you can send us email to <bold> contact@PricingHub.com</bold>
      </p>
      <h2>The Information We Collect</h2>
      <p>
        When you enter PricingHub,we collect your browser type and IP
        address.This information is gathered for all Pricinghub visitors.In
        addition,we store certain information from your browser usng "cookies".
        A cookies is a piece of data stored on the user's computer tied to
        information about the purposes. Any improper collection or misuse of
        information provided on PricingHub is a violation of the PricingHub
        Terms of Service and should be reported by sending us an email.
      </p>
      <h2>Email Policy</h2>
      <p>
        We <strong>NEVER</strong>(without your permission)disclose your email to
        any third party unless it is a legal matter. We NEVER send any spam
        emails or will ask for your password.You can choose to stop all emails
        from us by sending an email to unsubscribe at PricingHub.com.We at
        pricingHub take spamming very seriously, and dont send email to someone
        that doesn't want them to receive.
      </p>
      <h2>Contacts/Personal Data Policy</h2>
      <p>
        Your contacts information,personal data is not shared with any third
        party without your permission unless it is a legal matter.You can opt
        out from any promotional activity from PricingHub anytime by sending an
        email to unsubscribe@PricingHub.com.
      </p>
      <h2>Third Party Advertising</h2>
      <p>
        Advertisements that appear on PricingHub are sometimes delivered (or
        served) to users by third party advertiser. They automatically received
        your IP address when this happens.These third party advertisers may also
        download cookies to your computer,or use other technologies such as
        Javascript and "web beacons" to measure the effectiveness of their ads
        and to personalize advertising content.Third party advertisers have no
        access to your contact information stored on PricingHub unless you
        choose to share with them. This private policy covers the use of cookies
        by PricingHub and does not cover the use of cookies or other tracking
        technologies by any of its advertisers
      </p>
      <h2 class="heading">Terms of Use,Notices and Revisions</h2>
      <h2>Usage Of Information Collected</h2>
      <p>
        We may use the information we collected to fulfill your request for
        product and services,to show you products and services that might be
        relevant to your interests,to analyze the data for helping us improve
        our product and services, to identify any misuse of our services ,and to
        enforce our term of services.
      </p>
      <h2>Deletion of Your Data</h2>
      <p>
        You can request the deletion of your account and personal data at any
        point of time by sending us an email at contact@PricingHub.com.Note that
        you wont be able to access your account after deletion.We may also
        retain some data related for the purposes of legal compliance.
      </p>
      <h2>Copyrights and Trademarks</h2>
      <p>
        All contents, graphics, format, design, the user interface and other
        copyrighted material on the site are protected by copyright law and
        other intellectual property law,are owned by PricingHub and/ or free
        licensors (as the case may be).The material from the site are only
        available for informational and non-commercial offline use,provided
        that: the materials are not modified in any way;all copyrights and other
        proprietory notices and markings are retained and reproduced in thier
        entirety on any copy made from any material on the site;and
        PricingHub,in its sole discretion,giving its prior written approval to
        such use of the site materials.Any request to reuse the site materials
        should be sent to:
        <bold>admin@PricingHub.com</bold>
      </p>
      <p>
        Your use of PricingHub,and any disputes arising from it,is subject to
        this <bold>prrivacy policy</bold> as well as our
        <bold>Terms of use</bold> and all of its dispute resolution provisions
        including arbitration,limitation on damages and choice of law. We
        reserved the right to change our privacy policy and our terms of use at
        any time.Non-materials changes and clarification will take effect
        immediately,and materials changes will take effect within 30days of
        their posting on this site.If will make changes,we will post them and
        indicate at the top of this page the policy new effective date.If will
        make materials changes to this policy, we will notify you here by
        email,or through notice on our home page.We encourage you to refer to
        this policy on an ongoing basis so that you understand our current
        privacy policy.
      </p>
    </main>
    <p class="copyright">
      Copyright&copy; 2011-2022 PricingHub.com. All rights reserved
    </p>
    <footer>
      <div class="top-footer">
        <div class="secondary-footer">
          <div class="brandlogo">
            <img src="../static/images/logo.png" alt="logo" />
          </div>

          <div class="information">
            <h3>Menu</h3>
            <ul>
              <li>Services</li>
              <li>Review</li>
              <li>About</li>
              <li>Support</li>
            </ul>
          </div>

          <div class="connect">
            <h3>Connect</h3>
            <ul>
              <li>LinkedIn</li>
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Instagram</li>
            </ul>
          </div>
        </div>
        <div class="">
          <div class="contact-us">
            <button>Contact Us</button>
          </div>
        </div>
      </div>

      <div class="primary-footer">
        <div>
          <span>2022 </span>
          <span>Pricing Hub</span>
          <span>All Rights Reserved</span>
        </div>

        <div>
          <a href="{% url 'privacy'%}">Privacy Policy</a>
          <a href="{% url 'terms'%}">Terms & Conditions</a>
          <a href="{% url 'help'%}">Help</a>
        </div>
      </div>
    </footer>
  </body>
</html>
