*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   
}
html{
    font-family: "open sans",sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items :center;
    margin-bottom: 36px;
    width:100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color:#555;
    padding: 20px;
} 
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav ul li.signup{
    border: solid black 1px;
    background-color: black;
    
}
h3{
    color:white;
}
nav ul li a{
    display:inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    transition: 4s;
    color: #ea1538;
} 
h2{
    font-family: "poppins",sans-serif;
    font-weight:600;
    margin-bottom: 15px;
    margin-left: 30px;
}
.privacy{
   text-align: center; 
}
p{
    margin-bottom :25px;
    line-height: 1.7;
    text-align: justify;
    margin-left: 30px;
    margin-right:30px;
}
span{
  font-weight: bold;    
}
.copyright{
    text-align:center;
    margin-top: 30px;
    margin-bottom: 50px;
}


footer{
    background-color:hsl(192, 100%, 9%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 150px 30px;
    font-size: 14px;
    position: relative;
}
