@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

*,*::after,*::before{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

header{
    width: 100%;
    padding: 2em 3em;
}
a{
    text-decoration: none;
    color: black;
}

nav{
display: flex;
justify-content: space-between;
font-size: 1.3em;
font-weight: 600;
}
nav ul{
    display: flex;
}
.primary-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 3em;
}
li{
    list-style-type: none;
    margin:0em 1em;
}
.signup{
border: 1px solid black;
padding: .3em 3em;
border-radius: .5em;
margin-left:3em;
}
.search{
    display: flex;
    justify-content: center;
    margin: 2em auto;
}
.search input{
    padding: 1em 4em 1em 1em;
    width: 60%;
    background-color: rgb(207, 204, 204);
    border: none;
    border-radius: .5em;
}