<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation</title>
    <link rel="stylesheet" href="../static/css/documentation.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      style="background-color: blue; width: inherit; height: 118px"
    ></header>
    <main>
      <div class="section1">
        <h1>PricingHub Documentation</h1>
        <p>
          Welcome! PricingHub helps you compare prices in Nigeria across 3
          e-commerce platforms: <b>Jumia</b> <b>Konga </b> and
          <b>Kara</b>.<br />With PricingHub you can stay up to date with the
          latest prices of gadgets across the platforms.
        </p>
      </div>
      <hr />
      <div class="section2">
        <h2 class="style-h2">Features of PricingHub</h2>
        <div class="a">
          <div class="image">
            <img src="../static/images/unsplash_744oGeqpxPQ.png" alt="" />
          </div>
          <p>
            <span>View <b>comments</b> on products <br /></span> This are
            comments made by people who already got it product.
          </p>
        </div>
        <div class="b">
          <p>
            <span>Give a <b>review</b> on products </span><br />You can make
            comments on a product.
          </p>
          <div class="image">
            <img src="../static/images/image 1.png" alt="" />
          </div>
        </div>
        <div class="c">
          <div class="image">
            <img src="../static/images/image 2.png" alt="" />
          </div>
          <p>
            <span><b> Share a product across your social platform</b></span
            ><br />You can share the full details of a <br />
            product you got or want to get.
          </p>
        </div>
      </div>
      <hr />
      <div class="section3">
        <h2 class="style-h2">How PricingHub Works</h2>
        <div class="a">
          <div class="image">
            <img src="../static/images/image3.png" alt="" />
          </div>
          <p>
            To get started: you can Sign up to get the best of PricingHub.<br />When
            you Sign up you have full access to pricinghub, which include being
            able to compare prices.
          </p>
        </div>
        <div class="b">
          <p>
            <b>Browse category or search for product.</b><br />
            When you browse our category you get to see our products.
          </p>
          <div class="image">
            <img src="../static/images/image 10.png" alt="" />
          </div>
        </div>
        <div class="c">
          <div class="image">
            <img src="../static/images/Group 455.png" alt="" />
          </div>
          <p>
            <b>See full Description of any products.</b> <br />You can see a
            full description of any product you want.
          </p>
        </div>
        <div class="d">
          <p>
            <b>Compare Price.</b><br />You can compare price of any product you
            want to get, across the different platforms available.
          </p>
          <div class="image">
            <img src="../static/images/compare prices (1) 1.png" alt="" />
          </div>
        </div>
        <div class="e">
          <div class="image">
            <img src="../static/images/image 9 (3).png" alt="image" />
          </div>
          <p>
            <b>Customer's Feedback.</b><br />See custome's <b>Feedback</b> on
            products you want, before you decide on getting it.
          </p>
        </div>
        <div class="f">
          <p>
            <b>Shop in store.</b><br />After deciding on the product you want,
            you can get them on the store.
          </p>
          <div class="image">
            <img src="../static/images/image 11.png" alt="" />
          </div>
        </div>
      </div>
      <hr />
      <div class="section4">
        <div class="image">
          <img src="../static/images/image12.png" alt="" />
        </div>
        <div>
          <h2>Software Stack.</h2>
          <p>Frontend and Backend libraries used.</p>
        </div>
      </div>
      <hr />
      <div class="section5">
        <h3>Did you find this page helpful?</h3>
        <div class="buttons-container">
          <div class="button"><button>Yes i did</button></div>
          <div class="button"><button>Not exactly</button></div>
        </div>
        <div class="text-button">
          <p>
            You can also Contact us if you have any issues, or want to get in
            touch with us.
          </p>
          <p>
            Ready to start using PricingHub ?, Sign up now to have full access
            to our platform.
          </p>
        </div>
      </div>
      <hr />
    </main>
    <footer style="background-color: blue; width: 100%; height: 501px"></footer>
  </body>
</html>
