<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styleloginCA.css">
</head>
<body>
<header>
   
        <div class="logo">
            <p class="logo"><img src="../static/assets/@Pricehub-05 1 (1).png" /></p>
          </div>
          <div class="navigation">
            <p class="navig"><a href="">Home</a></p>
            <p class="navig"><a href="">Categories</a></p>
            <p class="navig"><a href="">Contact Us</a></p>
          </div>


</header>
<main>
   <section id="reg">
    
       <div class="reg-form">
            <h2>Create account</h2>
            <form action="">

                <div class="sec">
                    <label for="name">Full name</label><br>
                    <input type="text" class="size" placeholder="input your full name" name="name" required>
                </div>

                <div class="sec">
                    <label for="email">Email Address</label><br>

                    <input type="text" class="size" placeholder="enter your mail address" name="email" autocapitalize="none" autocomplete="email" required>
                </div>

                <div class="sec">
                    <label for="password">Password</label><br>
                    <input type="password" class="size" name="password" placeholder="input password" autocomplete="current-password" id="password" required>
                    <i class="far fa-eye" id="togglePassword"></i>
                </div>

                <div class="sec">
                    <input type="checkbox" name="accept-privacy" id="accept-privacy" checked>
                    <label for="accept-privacy">I accept the  <a href="#privacy-policy">Privacy Policy</a> and <a href="#terms">Terms and Conditions</a></label>
                </div>

                <div class="sec">
                    <input type="checkbox" name="accept-notify" id="notify">
                    <label for="notify">I want to receive notifications on new updates, sales and events on PricingHub</label>
                </div>

                <div class="submit">
                    <a href="#" target="_blank">Create Account</a>
                </div>   

                <div class="cta">
                    <p>Already have a PricingHub account? <a href="#" target="_blank">Login account</a></p>
                </div>
            </form>
       </div>

       <div class="side-image">
            <img src="../static/assets/images/hhh-removebg-preview 1.png" alt="lady smiling">
       </div>
   </section>   
</main>
</body>
</html>