<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/index.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <title>Home</title>
  </head>

  <body>
    <header>
      <div class="head">
        <div class="top-header">
          <a class="logo" href="">
            <img src="../static/images/logo.png" alt="logo"
          /></a>
          <nav id="main-menu">
            <ul>
              <li><a href="{% url 'homepage'%}">Home</a></li>
              <li><a href="{% url 'category'%}">Categories</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="{% url 'login'%}">LogIn</a></li>
              <li class="signup"><a href="{% url 'register'%}">Sign-up</a></li>
            </ul>
          </nav>
        </div>

        <input type="checkbox" id="hamburger-input" class="burger-shower" />

        <label id="hamburger-menu" for="hamburger-input">
          <nav id="sidebar-menu">
            <h3>Menu</h3>
            <ul>
              <li><a href="{% url 'homepage'%}">Home</a></li>
              <li><a href="{% url 'category'%}">Categories</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="{% url 'login'%}">LogIn</a></li>
              <li class="signup"><a href="{% url 'register'%}">Sign-up</a></li>
            </ul>
          </nav>
        </label>
        <div class="overlay"></div>
      </div>

      <section class="slidersection">
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="img-container1">
              <h1 class="heading">
                Get The Best Deals on <br />
                Luxury iPhone Series
              </h1>

              <div class="signup1"><a href="{% url 'register'%}">Create Free Account</a></div>

              <br />
              <div style="text-align: left">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>
              <br />
            </div>
          </div>
          <div class="mySlides fade">
            <div class="img-container2">
              <h1 class="heading">
                Stepping Up Your <br />
                Gadget Lifetyle?
              </h1>

              <div class="signup1"><a href="#">Create Free Account</a></div>

              <br />
              <div style="text-align: left">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>
              <br />
            </div>
          </div>
          <div class="mySlides fade">
            <div class="img-container3">
              <h1 class="heading">
                Be Your Own Influencer<br />Take The Best Pictures On The Go
              </h1>

              <div class="signup1"><a href="#">Create Free Account</a></div>
              <br />
              <div style="text-align: left">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>
              <br />
            </div>
          </div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </section>
    </header>

    <div class="search">
      <form action="{% url 'search-venues' %}" method="post">
        {% csrf_token %}
        <input type="search" placeholder="Hi, what are you looking for?" name="searched" />
        <button type="submit" style="border-radius: 5px; background:lilac; color: purple; border: purple solid 1px;">Search</button>  
      </form>
      
    </div>

    <main>
      <section class="categories">
        <div class="heading__categories">Categories</div>

        <div class="gadget__categories">
          <span>
            <a href="#" class="categories_series">Iphone 11 series</a>
          </span>
          <span>
            <a href="#" class="categories_series">Iphone 12 series</a>
          </span>
          <span>
            <a href="#" class="categories_series">Iphone 13 series</a>
          </span>
        </div>
      </section>
      <section class="new-product-release categories">
        <div class="heading__categories">New Product release</div>

        <div class="new-product-release__product">
          <div class="new-products">
            <div class="menu-with-img">
              <img
                src="../static/images/product1.png" height="300px"
                alt="iphone picture"
              />
            </div>
            <div class="platform-and-price">
              <span class="platform"
                ><img
                  src="../static/images/jumia logo.png"
                  alt="jumia logo"
                  height="20px"
              /></span>
              <span class="price">$364</span>
            </div>
            <div class="product-name">
              Apple iPhone 11, 64GB, Black - Unlocked...
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
              <span class="comment-number">20,710</span>
            </div>
            <div class="comments">
              <span>20,710</span>
              <img src="../static/images/comment symbol.png" alt="" />
              <span>Comments</span>
            </div>
            <button class="view-in-category">View in Category</button>
          </div>

          <div class="new-products">
            <div class="menu-with-img">
              <img src="../static/images/product2.png" alt="" height="300px" />
            </div>
            <div class="platform-and-price">
              <span class="platform"
                ><img
                  src="../static/images/konga.png"
                  alt="konga logo"
                  height="20px"
              /></span>
              <span class="price">$364</span>
            </div>
            <div class="product-name">
              Apple iPhone 11, 64GB, Black - Unlocked...
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
              <span class="comment-number">20,710</span>
            </div>
            <div class="comments">
              <span>20,710</span>
              <img src="../static/images/comment symbol.png" alt="" />
              <span>Comments</span>
            </div>
            <button class="view-in-category">View in Category</button>
          </div>

          <div class="new-products">
            <div class="menu-with-img">
              <img src="../static/images/product3.png" alt="" height="300px" />
            </div>
            <div class="platform-and-price">
              <span class="platform"
                ><img
                  src="../static/images/kara.png"
                  alt="kara logo"
                  height="20px"
              /></span>
              <span class="price">$364</span>
            </div>
            <div class="product-name">
              Apple iPhone 11, 64GB, Black - Unlocked...
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
              <span class="comment-number">20,710</span>
            </div>
            <div class="comments">
              <span>20,710</span>
              <img src="../static/images/comment symbol.png" alt="" />
              <span>Comments</span>
            </div>
            <button class="view-in-category">
              <a href="product_detail.html">Compare Product</a>
            </button>
          </div>

          <!-- 
                <div class="new-products showmore">
                    <span>Show More</span>
                </div> -->
        </div>
      </section>

      <section class="tips">
        <div class="tips-img">
          <img src="../static/images/tips.png" alt="person holding a phone" />
        </div>
        <div class="tips-text">
          <h3>Tips To Buy A Good Product Online</h3>
          <p>
            Finding the right product that meets your needs can be stressful,
            here are a few tips to keep you away from the loop of bad purchase
          </p>
          <ul>
            <li class="tips-to-buy">Meet your needs....</li>
            <li class="tips-to-buy">Non-brand or Brandable. ...</li>
            <li class="tips-to-buy">Check warranty. ...</li>
            <li class="tips-to-buy">Ease of Use. ...</li>
            <li class="tips-to-buy">Durability. ...</li>
            <li class="tips-to-buy">Settle on a Budget. ...</li>
            <li class="tips-to-buy">Read the right product reviews.</li>
          </ul>
        </div>
      </section>

      <section class="new-product-release categories">
        <div class="heading__categories">Popular Products</div>

        <div class="new-product-release__product">
          <div class="new-products">
            <div class="menu-with-img">
              <img src="../static/images/popular1.png" alt="" height="300px" />
            </div>
            <div class="platform-and-price">
              <span class="platform"
                ><img src="../static/images/jumia logo.png" alt="jumia logo"
              /></span>
              <span class="price">$364</span>
            </div>
            <div class="product-name">
              Apple iPhone 11, 64GB, Black - Unlocked...
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
              <span class="comment-number">20,710</span>
            </div>
            <div class="comments">
              <span>20,710</span>
              <img src="../static/images/comment symbol.png" alt="" />
              <span>Comments</span>
            </div>
            <button class="view-in-category">View in Category</button>
          </div>

          <div class="new-products">
            <div class="menu-with-img">
              <img src="../static/images/popular2.png" alt="" height="300px" />
            </div>
            <div class="platform-and-price">
              <span class="platform"
                ><img src="../static/images/konga.png" alt="konga logo"
              /></span>
              <span class="price">$364</span>
            </div>
            <div class="product-name">
              Apple iPhone 11, 64GB, Black - Unlocked...
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
              <span class="comment-number">20,710</span>
            </div>
            <div class="comments">
              <span>20,710</span>
              <img src="../static/images/comment symbol.png" alt="" />
              <span>Comments</span>
            </div>
            <button class="view-in-category">View in Category</button>
          </div>

          <div class="new-products">
            <div class="menu-with-img">
              <img src="../static/images/popular3.png" height="300px" alt="" />
            </div>
            <div class="platform-and-price">
              <span class="platform"
                ><img src="../static/images/kara.png" alt="kara logo"
              /></span>
              <span class="price">$364</span>
            </div>
            <div class="product-name">
              Apple iPhone 11, 64GB, Black - Unlocked...
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
              <span class="comment-number">20,710</span>
            </div>
            <div class="comments">
              <span>20,710</span>
              <img src="../static/images/comment symbol.png" alt="" />
              <span>Comments</span>
            </div>
            <button class="view-in-category">View in Category</button>
          </div>

          <!-- <div class="showmore">
                    <span>Show More </span>
                </div> -->
        </div>
      </section>

      <section class="teams">
        <div class="theteam">
          <h3>Meet The Team</h3>
        </div>

        <div class="team-pic-text">
          <div class="teams-img">
            <img src="../static/images/the-team.png" alt="team picture" />
          </div>

          <div class="meet-the-teem-text">
            <p>
              The Pricing Hub team comprises of indiviuals who are committed to
              providing viable solutions to the problems faced by indiduals who
              find it difficult getting the right pricings to items sold online.
            </p>
            <button class="about-us-btn"><a href="{% url 'about'%}"> About Us<a></button>
          </div>
        </div>
      </section>

      <section class="new-product-release categories">
        <div class="heading__categories">What Our Users Say</div>
        <div class="testimonial">
          <div class="testimonial-card">
            <div class="testimonial-card-img">
              <img src="../static/images/user1.png" alt="" />
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
            </div>
            <div class="comments-testimonial">
              <p class="testimonial-comment">
                Ever since I discovered this website, shopping online has been
                easier.
              </p>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="testimonial-card-img">
              <img src="../static/images/user2.png" alt="" />
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
            </div>
            <div class="comments-testimonial">
              <p class="testimonial-comment">
                Ever since I discovered this website, shopping online has been
                easier.
              </p>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="testimonial-card-img">
              <img src="../static/images/user3.png" alt="" />
            </div>
            <div class="ratings">
              <span class="star-rating">
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
                <img src="../static/images/star.png" alt="rating" />
              </span>
            </div>
            <div class="comments-testimonial">
              <p class="testimonial-comment">
                Ever since I discovered this website, shopping online has been
                easier.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="newsletter">
        <div class="newsletter-img">
          <img src="../static/images/basket.png" alt="" />
        </div>
        <div class="newsletter-text">
          <h3>Get smart shopping tips by signing up to our newsletter!</h3>
          <div>
            <input
              class="newsletter-email"
              type="email"
              placeholder="Your Email Address"
            /><br />
            <button class="subscribe">Subscribe</button>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="top-footer">
        <div class="secondary-footer">
          <div class="brandlogo">
            <img
              src="../static/images/Pricehub-05 1.png"
              alt="pricing hub logo"
            />
          </div>

          <div class="information">
            <h3>Menu</h3>
            <ul>
              <li>Services</li>
              <li>Review</li>
              <li>About</li>
              <li>Support</li>
            </ul>
          </div>

          <div class="connect">
            <h3>Connect</h3>
            <ul>
              <li>LinkedIn</li>
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Instagram</li>
            </ul>
          </div>
        </div>
        <div class="">
          <div class="contact-us">
            <button>Contact Us</button>
          </div>
        </div>
      </div>

      <div class="primary-footer">
        <div>
          <span>2022 </span>
          <span>Pricing Hub</span>
          <span>All Rights Reserved</span>
        </div>

        <div>
          <a href="{% url 'privacy' %}">Privacy Policy</a>
          <a href="{% url 'terms'%}">Terms & Conditions</a>
        </div>
      </div>
    </footer>

    <script src="../static/scripts/index.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
  </script> -->
  </body>
</html>
