<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HELP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link href="../static/css/stylehelp.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header></header>
    <main>
      <h2>HELP</h2>
      <h4>What is PrincingHub?</h4>
      <p>
        Princinghub.com is a tool for online comparison shopping. we make it
        suprisingly easy for you to find a product,know about that product and
        compare it with others. Use pricinghub to quickly obtain free and
        unbiased information about mobile phones before making a purchase
        decision
      </p>
      <h4>How do I compare things side-by-side?</h4>
      <p>
        Creating a side-by-side comparison on PricingHub is a great way to
        directly compare detailed information for various products. To create a
        side-by-side comparison click the compare button on any product page or
        product listing. Continue to select products until you have collected
        all of the products you want to compare. Now click compare now button to
        compare the products you have selected. you can also view and modify
        products in your compare list by clicking on compare queue in the user
        menu.
      </p>
      <h4>How do I set a price alert?</h4>
      <p>
        Setting a price alert is a great way to track prices of the products you
        are interested in.To set a price alert on a product, go to that product
        (by searching or browsing) and click price alert button.
      </p>
      <h4>How do I login?</h4>
      <p>
        To login simply click on Login on the homepage. You can also login by
        clicling <a href="">here.</a>
      </p>
      <h4>How do I sign up?</h4>
      <p>To sign up, first click on the sign up button(on the top right corner). And sign up using your email acount. Don't forget to verify your email after signing up. You can also sign up by clicking <a href=""">here.</a> </p>
      <h4>How do I report inaccurate information?</h4>
      <p>At PricingHub, we strive to provide the most accurate and up-to-date information on our site. We rely on users like you to update out-of-date and incorrect information as you find it on our site. You can report the incorrect information by filling out the form <a href="">here.</a></p>
      <h4>How do I leave a review on a product?</h4>
      <p>Leaving a review on PricingHub is a great way to share your experience and help other users make well-informed purchase decisions. To leave a review on a product or service, you must be logged-in to your free PricingHub account. Don't have an account yet? Signing up is quick and easy and unlocks a handful of additional features on PricingHub. To create an account click <a href="">here.</a></p>
    <p>To leave a review, visit the listing page for the product you'd like to review. Once you are at the correct listing, click 'Write a Review' below the user reviews section of that listing.</p>
 </main>
  </body>
</html>
