<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/73b6ed979d.js" crossorigin="anonymous"></script>
    <link href="../static/css/stylereset.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
         
    </header>
    <main class="resetform2">
        <h2 class="headerreset2">Create New Password</h2>
        <p class="instruct2">Enter the new password you want to use</p>
        <div class="inputicon">
        <p><label id="labelCNY"  for="Pasword">Password</label></p>
        <input type="password" id="password"placeholder="Input new password" pattern="(?=.*d) (?=.*[a-z]) (?=.*[A-Z]) .{8,}" title="Must contain at least one uppercase, one lowercase, one digit and one special charcater" required/> 
         <i class="fa-regular fa-eye"></i>
        <P class="labelunder"><small>Password must include <b>1 uppercase, 1 lowercase, 1 digit,</b> and <b>1 special character</b></small></P>
        <p><label id="labelCNY" for="Pasword">Confirm Password</label></p>
        <input type="password" id="password"placeholder="Confirm new password" required/>
        <i class="fa-regular fa-eye"></i>
        <P class="labelunder2"><small>Password must include <b>1 uppercase, 1 lowercase, 1 digit,</b> and <b>1 special character</b></small></P>
         </div>
        <input type="submit" name="Resetpw" value="Reset Password" id="ResetP2"/>
    </main>
</body>
</html>