<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="../static/css/stylereset.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header>
        
    </header>
    <main class="resetform">
      <h2 class="headerreset">Reset Your Password</h2>
      <p class="instruct">
        Enter the Email address you registered with to proceed with the password
        reset
      </p>
      <p><label id="labelrest">Email Address</label></p>
      <input
        type="email"
        id="email"
        placeholder="Input your email address"
        required
      />
      <input type="submit" name="Resetpw" value="Reset Password" id="ResetP" />
    </main>
  </body>
</html>
