<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <main>
        <div class="gird-container">
        <section class="feedback">
            <p> Thank you for your feedback, your feedback will help us give thousands of 
                shoppers a better experience.</p>
            <div class="button"><button>Continue shopping </button></div>

        </section>
        <section class="contact-us">
            <h1>Thank you</h1>
            <p>Thanks for contacting us. Our team will get back to you shortly.</p>
        </section>

        <section class="share">
            <div class="share-head">
            <p>Share with</p>
            <div id="cancel"><button>X</button></div>
            <!-- <img src="../static/images/close-square.png" alt="cancel"> -->
            </div>
             <div class="share-socials">
                <div>
                    <img src="../static/images/Group 338.png" alt="Facebook">  
                </div>
                <div>
                    <img src="../static/images/Group 337.png" alt="Instagram">
                </div>
                <div>
                    <img src="../static/images/Group 339.png" alt="Twitter">
                </div>
                <div>
                    <img src="../static/images/Group 340.png" alt="Email">
                </div>
            </div>
                <div class="share-link">
                    <p id="text">Or Share with link</p>
                    <div class="link-container">
                    <div class="link-div">
                    <a id='link' href="#">http://www.pricinghub.com?file/nfjf/dfgt/</a>
                    </div>
                    <div id="img-div"><img src="../static/images/fa-regular_copy.svg" alt="copy-icon"></div>
                   </div>
                </div>
        </section>
        </div>
    </main>
</body>
</html>