{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}

{% endblock%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="../static/css/styleloginCA.css">
  <link rel="stylesheet" href="../static/styles/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
          <!-- Header file -->
          <header>
   
            <div class="logo">
                <p class="logo"><img src="../static/assets/@Pricehub-05 1 (1).png" /></p>
              </div>
              <div class="navigation">
                <p class="navig"><a href="{% url 'homepage'%}">Home</a></p>
                <p class="navig"><a href="{% url 'category'%}">Categories</a></p>
                <p class="navig"><a href="{% url 'contact'%}">Contact Us</a></p>
              </div>
    
    
    </header>
<!-- header ends -->
  <section class="container-fluid d-flex flex-wrap mt-5">
    <div class="col-lg-5 col-md-10 col-sm-12 col-12 justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <img src="../static/images/image 12.png" class="img-fluid" style="width:237px ; height: 344px">
      </div>
      <div class="d-flex justify-content-center row g-2 col-lg-12">
        <img src="../static/images/image 12.png" class="img-fluid" style="width:70px ; height: 80px">
        <img src="../static/images/image 12.png" class="img-fluid" style="width:70px ; height: 80px">
        <img src="../static/images/image 12.png" class="img-fluid" style="width:70px ; height: 80px">
      </div>
    </div>
    <div class="col-lg-7 col-md-10 col-sm-12 col-12 mt-5">
      <h4>Apple iPhone 12 Pro 64GB, Graphite </h4>
      <p><span>Brand:</span> Apple </p>
      <p class=""><span>Gold</span> <span>Pink</span> <span>Blue</span> <span>Black</span> <a href="a">Click to view
          full image</a></p>
      <p>
        <ul>

          <li>Super Retina XDR OLED, HDR10, Dolby Vision, 800 nits (HBM), 1200 nits (peak)</li>
          <li>160.8 x 78.1 x 7.4 mm (6.33 x 3.07 x 0.29 in)</li>
          <li>Dolby Vision HDR video recording up to 4K at 60 fps. 2X Optical zoom range.</li>
          <li>Glass front (Gorilla Glass), glass back (Gorilla Glass), stainless steel frame.</li>
          <li>Scratch-resistant ceramic glass, oleophobic coating.</li>
          <li>iOS 14.1, up to iOS 15.6, planned upgrade to iOS 16. </li>
          <li>Ultra Wideband (UWB) support. </li>
          <li>Face ID, accelerometer, gyro, proximity, compass, barometer.</li>
          <li>Water resistant to a depth of 6 meters for up to 30 minutes. Compatible with MagSafe accessories and
            wireless chargers</li>
        </ul>
      </p>
    </div>
  </section>
  
  <section style="background:#002366 ; height:auto; " class="d-flex flex-column mt-5">

   
    <div class="text-white text-center mt-3"><h2 style="height: 56px;">Compare price in store</h2></div>
    <div class="d-flex flex-wrap justify-content-center mt-3 ">
       
      <div class="col-sm-10 col-md-6 col-lg-3 col-12 mb-3 px-3">
        
        <div class="card text-center col justify-content-center">
          
          <div class="card-body">
            <img src="../static/images/konga.png" class="card-img-top  card-img-center text-center mb-3" alt="KONGA" style="width:100px; height: 35px">
            <h4 class="card-title mb-5">Price: N55,000</h4>
            
            <a href="#" class="btn btn-outline-warning">View in store</a>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-3 col-11 mb-3">
        <div class="card text-center col justify-content-center">
          
          <div class="card-body">
            <img src="../static/images/jumia logo.png" class="card-img-top  card-img-center text-center mb-3" alt="JUMIA" style="width:110px; height: 35px">
            <h4 class="card-title mb-5"><b>Price: N55,000</b></h4>
            
            <a href="#" class="btn btn-outline-warning">View in store</a>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-3 col-12 mb-3 px-3">
        <div class="card text-center col justify-content-center">
          
          <div class="card-body">
            <img src="../static/images/kara.png" class="card-img-top  card-img-center text-center mb-3" alt="KARA" style="width:100px; height: 35px">
            <h4 class="card-title mb-5">Price: N55,000</h4>
            
            <a href="#" class="btn btn-outline-warning">View in store</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <section class="d-flex flex-wrap container-fluid mt-5 justify-content-around" >

    <div class="col-sm-10 col-12 col-md-10 col-lg-7 mb-5">
      <div class="mb-3 col-10">
        <label for="commentBox" class="form-label"><b>Leave a Comment</b></label>
        <textarea class="form-control" id="commentBox" rows="5"></textarea>
      </div>
      <button class="btn text-white  " style="background:#C96E2C;">Comment</button>
    </div>

    <div class="col-lg-4 align-item-center">
      <div class="card  col-12 mb-3">
        <div class="card-body ">
          <h5 class="card-title"><b>Samuel</b></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="text-muted">8:30pm January 23rd, 2022</p>
        </div>
      </div> 

      <div class="card  col-12 mb-3">
        <div class="card-body ">
          <h5 class="card-title"><b>Samuel</b></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="text-muted">8:30pm January 23rd, 2022</p>
        </div>
      </div> 

      <div class="card  col-12 mb-3">
        <div class="card-body ">
          <h5 class="card-title"><b>Samuel</b></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="text-muted">8:30pm January 23rd, 2022</p>
        </div>
      </div> 
    </div>

  </section>

  <footer>
    <div class="top-footer">
        <div class="secondary-footer">

            <div class="brandlogo">
                <img src="../static/images/Pricehub-05 1.png" alt="pricing hub logo">
            </div>

            <div class="information">
                <h3>Menu</h3>
                <ul>
                    <li>Services</li>
                    <li><a href="{% url 'contact'%}">Review</a></li>
                    <li><a href="{% url 'about'%}">About</a></li>
                    <li><a>Help</a></li>
                </ul>
            </div>

            <div class="connect">
                <h3>Connect</h3>
                <ul>
                    <li>LinkedIn</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
        <div class="">
            <div class="contact-us">
                <button><a href="{% url 'contact'%}">Contact Us</a></button>
            </div>
        </div>

    </div>

    <div class="primary-footer">
        <div>
            <span>2022 </span>
            <span>Pricing Hub</span>
            <span>All Rights Reserved</span>
        </div>

        <div>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
            <a href="{% url 'terms'%}">Terms & Conditions</a>
            <a href="{% url 'faqs'%}">FAQs</a>
        </div>
    </div>

</footer>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
  </script>
</body>

</html>