<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="../static/css/review.css">
    <link rel="stylesheet" href="../static/styles/index.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel="stylesheet">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
  />
    
</head>
<body>
    <header>
        <!-- Nav Bar -->
        <nav
          class="navbar navbar-expand-lg navbar-dark"
          style="background-color: #2b4880"
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style="margin-left: 30px"
              ><img src="../static/assets/@Pricehub-05 1 (1).png"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul
                class="navbar-nav mb-2 mb-lg-0 ms-auto px-5"
                style="margin-right: 45px; padding: 20px"
              >
                <li class="nav-item px-3">
                  <a class="nav-link text-white" href="{% url 'homepage'%}"
                    >Home</a
                  >
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link text-white" href="{% url 'category'%}"
                    >Categories</a
                  >
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link text-white" href="{% url 'contact'%}">Contact Us</a>
                </li>
                  
                {% if user.is_authenticated %}              
                <li class="nav-item px-3">
                  <a class="nav-link text-white" href="{% url 'logout'%}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item px-3">
                  <a class="nav-link text-white" href="{% url 'login'%}">Login</a>
                </li>
                <li class="nav-item px-3">
                  <a
                    class="btn btn-sm nav-link"
                    style="background: #c96e2c; color: white; width: 100px"
                    href="{% url 'register'%}"
                    >Sign-up</a
                  >
                </li>
                {% endif %}
                
              </ul>
            </div>
          </div>
        </nav>
        <!-- Nav Bar end -->
  

    </header>
    <main>
        <h1>What our users say</h1>
        
        <div class="grid-container">
           
                <div class="users-box">
                    <div class="user-details">
                    <h2>Toyosi William</h2>
                    <p>Easy to navigate and compare prices,
                        totally love it</p>
                    </div>
                    <div class="users-rate">
                        <p>9:03am january 21st 2022</p>
                        <div class="rating-icon">
                            <span class="star-rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="users-box">
                    <div class="user-details">
                        <h2>Willie Daudu</h2>
                        <p>Pricing Hub helped me make online shopping easy and less stressful for me</p>
                    </div>

                    <div class="users-rate">
                        <p>3:32pm March 3rd 2022</p>
                        
                        <div class="rating-icon">
                            <span class="star-rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                            </span>
                        </div>
                    </div>
                </div>
           
                <div class="users-box">
                    <div class="user-details">
                        <h2>Aminate Jega</h2>
                        <p>Priing Hub is the really usful for comparing prices of gadgets onlinw</p>
                    </div>
                
                    <div class="users-rate">
                        <p>1:15pm December 2nd 2021</p>

                        <div class="rating-icon">
                            <span class="star-rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="users-box">
                    <div class="user-details">
                        <h2>Ifeanyi Michael</h2>
                        <p> This is the best price compare platform on the net, totally enjoyed using it</p>
                    </div>

                    <div class="users-rate">

                        <p>12:12pm August 23rd 2021</p>
                        
                        <div class="icon">
                            <span class="star-rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                            </span>
                        </div>

                    </div>
                </div>
           
                <div class="users-box">
                    <div class="user-details">
                        <h2>Temitope Bola</h2>
                        <p>Pricing Hub is the best platform i"ve used</p>
                    </div>

                    <div class="users-rate">

                        <p>11:07 july 1st 2022</p>
    
                        <div class="icon">
                            <span class="star-rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="users-box">
                    <div class="user-details">
                        <h2>Jack Murrow</h2> 
                        <p>I now enjoy shopping online, thanks to Pricing Hub</p>
                    </div>
                    
                    <div class="users-rate">

                        <p>8:23pm January 23rd 2022</p>
    
                        <div class="icon">
                            <span class="star-rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                            </span>
                        </div>

                    </div>
                </div>
            
           
                <div class="users-box">
                    <div class="user-details">
                        <h2>Obi Paul</h2>
                        <p>Had a wonderful time using Price hub</p>
                    </div>
                    
                    <div class="users-rate">
                        
                        <p>8:02pm June 5th 2022</p>
                        
                        <div class="icon">
                            <span class="star-rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                                <img src="../static/images/star.png" alt="rating">
                            </span>
                        </div>

                    </div>
                </div>

                <div class="users-box">
                    <div class="user-details">
                        <h2>Anthonia Igwe</h2>
                        <p>Pricing Hub has helped me navigate my buying processes without stress</p>
                            
                    </div>
                        
                        <div class="users-rate">
                            
                            <p>6:03pm January 30th 2022</p>
                            
                            <div class="icon">
                                <span class="star-rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                                    <img src="../static/images/star.png" alt="rating">
                            </div>
                        </div>
                </div>
            
        </div>

        <div class="see-more">
            <button id="see-less">See Less...</button>
        </div>

        <section class="rating-section">

            <h3 id="hear-from-you">We want to hear from you, tell us what you have to say</h3>

            <p id ="leave-comment" >Leave your review</p>
        
            
            <div class="text-area">
                <textarea name="rating-message" id="textarea" cols="50" rows="10" style=" padding: 20px;"></textarea>

            </div>

            <div class="rating-bottom">
                
                <div class="rating">
    
                    <div id="your-rating" >
                        <p>Your rating means the most to us</p>
                    </div>
        
                    <div>
                        <span class="star-rating">
                            <img src="../static/images/white-star.png" alt="rating">
                            <img src="../static/images/white-star.png" alt="rating">
                            <img src="../static/images/white-star.png" alt="rating">
                            <img src="../static/images/white-star.png" alt="rating">
                            <img src="../static/images/white-star.png" alt="rating">
                        </span>
                    </div>
    
                </div>
    
                <div class="button">
                    <button class="post-btn">Post a comment</button>
                </div>

            </div>
        
        </section>

    </main>
    <footer>
            <div class="top-footer">
              <div class="secondary-footer">
                <div class="brandlogo">
                  <img
                    src="../static/images/Pricehub-05 1.png"
                    alt="pricing hub logo"
                  />
                </div>
      
                <div class="information">
                  <h3>Menu</h3>
                  <ul>
                    <li><a>Services</a></li>
                    <li><a href="{% url 'review'%}" style="
                      color: white;">Reviews</a></li>
                  
      
                    <li><a href="{% url 'about'%}" style="
                      color: white;">About</a></li>
                    <li><a href="{% url 'about'%}" style="
                      color: white;">Help</a></li>
                  </ul>
                </div>
      
                <div class="connect">
                  <h3>Connect</h3>
                  <ul>
                    <li><a href="https://www.linkedin.com/in/pricinghub-team-144782248">LinkedIn</a></li>
              <li><a href="https://mobile.twitter.com/team2560834659">Twitter</a></li>
              <li><a href="www.facebook,com">Facebook</a></li>
              <li><a href="https://www.instagram.com/pricing_hub/">Instagram</a></li>
            </ul>
                </div>
              </div>
              <div class="">
                <div class="contact-us">
                  <button><a href="{% url 'contact'%}">Contact Us</a></button>
                </div>
              </div>
            </div>
      
            <div class="primary-footer">
              <div>
                <span>2022 </span>
                <span>Pricing Hub</span>
                <span>All Rights Reserved</span>
              </div>
      
              <div>
                <a href="{% url 'privacy' %}">Privacy Policy</a>
                <a href="{% url 'terms'%}">Terms & Conditions</a>
              </div>
            </div>
    </footer>

    <!-- Bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    
</body>
</html>