<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Terms and Conditions</title>

    </head>

    <body>
        <h1>Terms and Conditions</h1>

        <p>
            Please read this Terms of Use Agreement (the "Agreement") carefully. The Agreement governs your use of the PricingHub Website 
            and the services and goods provided through or in connection with the Website (collectively, the "Service"). Each time you use 
            the Service, you acknowledge that you have read and agree to be bound by the Agreement. If you do not agree to bound by the Agreement,
            you may not use the Service.

            IMPORTANT. The Website acts as an online marketplace for you to compare different prices of
            gadgets. Any information you provide to source sites in connection with your purchase remains with
            the chosen source market/size.
        </p>
        <ol>
            <li>PricingHub is not responsible or liable for any products, services, information or other materials
                dispayed, purchased, or obtained by you from the Website, including without limitations & 
                recommendations.
            </li>

            <li>PricingHub does not endorse, warrant or guarantee the products or services of any seller, including
                without limitations, any rates or prices.
            </li>

            <li>PricingHub is not liable for any delays, inaccuracies, errors or omissions with respect to the information
                or the transmission or delivery of all or any part thereof, for any damage arising therefrom or
                occasioned thereby, or for the results obtained from the use of the information.
            </li>

            <li>Any information on the Website can change without notice.</li>
        </ol>

        <p>DISCLAIMER: PricingHub tries to provide quality information, but PricingHub makes no claims, promises or
            guarantees about the accuracy, completeness, or adequacy of the information conatined in or linked to
            this website and its associated sites.
        </p>

    </body>

    <footer>
        <div class="top-footer">
            <div class="brandname">
                <p>Brand-name</p>
            </div>
            <div class="information">
                <h3>Information</h3>
                <ul>
                    <li>Services</li>
                    <li>Works</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="connect">
                <h3>Connect with us</h3>
                <ul>
                    <li>LinkedIn</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="contact-us">
                <button>Contact Us</button>
            </div>
        </div>
        <div class="top-footer">
            <div>
                <span>2022 </span>
                <span>Brand-name</span>
                <span>All Rights Reserved</span>
            </div>

            <div>
                <a href="">Privacy Policy</a>
                <a class="active "href="../t&c.html" target="_blank">Terms & Conditions</a>
            </div>
        </div>
    </footer>

</html>